.noConnection {
    opacity: 0.5;
    pointer-events: none;
}

.debugArea {
    font-size: small
}
.debugArea > .btn-link {
    padding: 0px;
    margin: 0px 0px 3px 0px;
    border: 0;
    font-size: inherit !important;
}

.center {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.centerText {
    text-align: center;
}

/*  CHEM CONTROLLER */
.topAbs10Percent { 
    /* align chem controller top */
    position: absolute;
    top: 10px
}

.bottomFixed {
    position: absolute;
    bottom: 0px;
}

.centerSVG {
    margin: auto;
    display: block;
}

.threeQuarterLineHeight {
    line-height: 0.75;
}

.minHeight125{
    min-height: 125px
}
/*  TEST SVG */
.tankBaseFill{
    fill:rgb(255, 255, 255);
    stroke:#231f20;
   /*  stroke-miterlimit:10; */
    stroke-width:1;
}
.tankFillBlack{
    fill:#231f20;
}
.tankFillRed{
    fill:rgb(176,40,40);
}
.tankFillYellow {
    fill: yellow
}
.tankFillGreen {
    fill: rgb(42,173,57);
}